@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
body{
    font-family: 'Sen', sans-serif;
}
.nav-item{
    font-size: 18px;
}
.contacts{
    line-height: 0px;
    font-size: 12px;
    text-align: end;
}
.container img{
    width: 300px;
}
.glasses .col-sm-4{
    height: 350px;
    width: 350px;
}
.text-block{
    padding: 40px;
    background-color: #f8f9fa;
}
.text-block p{
    padding: 20px;
    margin: 30px;
    max-width: 800px;
    font-size: 18px;
}
footer{
    background-color: #9fa2a5;
}
.social a{
    color:black;
    font-size: 30px;
    font-weight: 500;
}